* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Open Sans, Sans-serif;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

body {
    overflow-x: hidden;
}

#header {
    width: 100vw;
    position: fixed;
    top: 0;
    min-height: 80px;
    display: flex;
    padding: 20px 20px;
    justify-content: space-around;
    align-items: center;
    column-gap: 5rem;
    background-color: #fff;
    margin-bottom: 20px;
    z-index: 100;
    border-bottom: 1px solid #616283;
}

#logo {
    width: 60vw;
    justify-self: flex-start;
}

#header-img {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

#search {
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 1200px;
    height: 50px;
    margin-top: 20px;
    border-radius: 0.5rem;
}

#search-input {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    padding: 0 20px;
    font-size: 1rem;
}

#search-input:focus {
    border: 5px solid #99ff88;
    font-size: 1.2rem;
}

#search #search-btn {
    width: 50px;
    height: 50px;
    background-color: #EAF0CE;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

#search #search-btn:hover {
    transform: scale(0.95, 0.95);
}

#search button #search-symb {
    z-index: 2;
    width: 50px;
    height: 50px;
}

#search button #search-symb rect {
    transform: rotate(45deg);
}

#nav-bar {
    justify-self: flex-end;
}

#nav-bar>ul {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
    justify-content: flex-end;
    width: 40vw;
    margin: 0;
    padding: 0 20px;

}

#nav-bar li {
    list-style: none;
}

#nav-bar a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    transition: all 0.5s;
}

#nav-bar a:hover {
    text-decoration: none;
    color: silver;
    font-size: 18px;
}

#nav-bar a svg:hover {
    transform: scale(1.2, 1.2);
}

.nav-list-btn {
    font-size: 1rem;
    border: none;
    background-color: #fff;
    transition: all 0.5s;
}

.nav-list-btn:hover,
.nav-list-btn:focus {
    color: silver;
    font-size: 18px;
    display: block;
}

#list-items {
    position: absolute;
    left: 78%;
    top: 62%;
    min-width: 80px;
    display: none;
    text-align: left;
    background-color: rgba(181, 210, 203, 0.5);
    z-index: 1;
}

#nav-lst:hover #list-items {
    display: block;
}

#list-items a {
    display: block;
    padding: 4px 10px;
    text-decoration: none;
}

#list-items a:hover {
    color: white;
}

.banners {
    display: block;
    position: relative;
    width: 100vh;
    height: 500px;
    background-color: #ffffff;
}

.banner #banner-video-div {
    width: 1000px;
    height: 480px;
    position: relative;
    left: 0;
}

#banner-video-div .ban-video {
    display: block;
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 480px;
}

#banner-cap {
    position: absolute;
    top: 8%;
    left: 50%;
    text-align: center;
    line-height: 5rem;
    z-index: 1;
}

#banner-cap h2 {
    font-size: 4rem;
    font-family: Urbanist, "Didact Gothic", Open Sans, Sans-serif;
    font-weight: 450;
    opacity: 0.8;
}

#banner-cap p {
    font-size: 20px;
    opacity: 0.8;
}

#overview {
    position: relative;
    margin: 50px auto;
    width: 100%;
    text-align: center;
}

#plants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 70px;
    padding: 40px;
    row-gap: 6rem;
    column-gap: 2rem;
}

#plants .plantlist {
    width: 450px;
    height: 450px;
}

#plants .plantlist figure:hover {
    transform: scale(0.9, 0.9);
}

#plants .plantlist figure {
    width: 80%;
    height: 80%;
    transition: all 0.5s;
}

#plants .plantlist img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#plants .plantlist .plant-caption {
    margin-bottom: 10px;
}

#plants .plantlist .buycart {
    margin: 40px;
    margin-left: 70px;
}

#plants .plantlist .buy-btn {
    background-color: #E6AF2E;
}

#plants .plantlist .cart-btn {
    background-color: #616283;
}

#plants .plantlist .buycart button {
    width: 100px;
    height: 25px;
    margin: 0 5px;
    font-size: 1rem;
    border-radius: 1rem;
    color: #fff;
    font-weight: 600;
    border: none;
    transition: all 0.5s;
}

#plants .plantlist .buycart button:hover {
    font-size: 1.1rem;
    outline: 1px solid black;
    outline-offset: 2px;
}

#down-btns {
    display: flex;
    margin: 50px auto;
}

#down-btns .btns {
    width: 50px;
    height: 50px;
}

#down-btns .btns button {
    width: 80%;
    height: 100%;
}

#down-btns .btns button:focus {
    background-color: #C6E2E9;
}

#LorR {
    position: relative;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

#cart {
    position: fixed;
    top: 2%;
    left: 69%;
    z-index: 100;
}

#cart #cart-show {
    width: 200px;
    font-size: 0.8rem;
    display: none;
    justify-content: center;
    flex-direction: column;
    background-color: #CAD5CA;
}

#cart:hover #cart-show .placeorder-btn {
    width: 100px;
    border-radius: 1rem;
    border: none;
    margin: 5px;
    padding: 2px 5px;
    background-color: #F4E76E;
    transition: all 0.5s;
}

#cart:hover #cart-show .placeorder-btn:hover {
    font-size: 0.8;
}

#cart .cart-btn {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    align-self: flex-start;
    opacity: 0;
}

#cart:hover #cart-show {
    display: flex;
    width: 200px;
    font-size: 0.6rem;
    justify-content: center;
    flex-direction: column;
    background-color: #CAD5CA;
}

#cart:hover #cart-items {
    display: grid;
    grid-template-columns: 80px 80px;
    width: 100%;
    height: 100%;
    padding: 10px;
    gap: 10px;
}

#cart #cart-items {
    display: grid;
    grid-template-columns: 50px 50px;
    width: 100%;
    height: 100%;
    padding: 10px;
    gap: 10px;
}

#cart:hover #cart-total {
    width: 200px;
    text-align: center;
    padding: 0 10px;
    font-size: 0.8rem;
    background-color: #CDB2AB;
    /* white-space: pre-wrap; */
}

#cart #cart-total {
    width: 130px;
    justify-self: flex-start;
    text-align: left;
    padding: 0 10px;
    font-size: 0.8rem;
    background-color: #CDB2AB;
    /* white-space: pre-wrap; */
}

#cart:hover #cart-items div {
    width: 80px;
    transition: all 0.5s;
}

#cart:hover #cart-items figure:hover {
    transform: scale(1.1, 1.1);
}

#cart:hover #cart-items img {
    width: 80%;
    object-fit: cover;
}

#cart #cart-items p {
    justify-self: center;
    align-self: center;
    margin-bottom: 10px;
}

#cart:hover #cart-items .remove-btn {
    display: block;
    width: 15px;
    height: 15px;
    font-size: 0.6rem;
    margin: 10px 0;
    text-align: center;

}

#cart #cart-items .plant-price {
    display: none;
}

fieldset {
    width: 400px;
    border-radius: 1rem;
    text-align: center;
    padding: 10px;
}

#form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
    font-size: 1rem;
}

#form label {
    display: block;
    text-align: left;
}

#form input {
    width: 250px;
    height: 25px;
    font-size: 1rem;
}

#form select {
    width: 250px;
    height: 25px;
    font-size: 1rem;
}

#form #submit {
    width: 120px;
    height: 30px;
    border-radius: 2rem;
    font-size: 1rem;
    background-color: #BFFFBC;
    color: #000;
    border: none;
}

legend {
    text-align: center;
    font-weight: bolder;
}

@media only screen and (max-width: 900px) {
    * {
        width: 60%;
    }
}

#LorR {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

fieldset {
    width: 400px;
    border-radius: 1rem;
    text-align: center;
    padding: 10px;
}

#form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
}

#form label {
    display: block;
    text-align: left;
}

#form input {
    width: 250px;
    height: 25px;
}

#form select {
    width: 250px;
    height: 25px;
    font-size: 1rem;
}

#form #submit {
    width: 120px;
    height: 30px;
    border-radius: 2rem;
    font-size: 1rem;
    background-color: #BFFFBC;
    color: #000;
    border: none;
}

legend {
    text-align: center;
    font-weight: bolder;
}
#support {
    width: 100vw;
    padding: 40px 200px;
}

#support footer {
    display: flex;
    flex-direction: row;
    column-gap: 10rem;
    align-items: center;
}

#support div {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 1.2rem;
    align-items: center;
}

#support ul li {
    list-style-type: none;
}

.contact {
    justify-self: flex-start;
    text-align: left;
}

.contact p {
    font-size: 1.5rem;
    color: #FFAA68;
    margin-bottom: 10px;
    align-self: flex-start;
}

.contact ul {
    display: flex;
    flex-direction: column;
    column-gap: 5rem;
    align-items: flex-start;
    text-align: left;
}

.socialmedia p {
    color: #FF7F75;
    margin-bottom: 20px;
}

.socialmedia ul {
    display: flex;
    column-gap: 5rem;
}

@media only screen and (max-width: 900px) {
    * {
        width: 60%;
    }
}
